legacy-peer-deps=true
auto-install-peers=true
strict-peer-dependencies=false
//npm.pkg.github.com/:_authToken=<TOKEN>	
@digitalassetportal:registry=https://npm.pkg.github.com	
@idb-dab:registry=https://npm.pkg.github.com